{% block sw_cms_block_faq_listing %}
    <div class="sw-cms-block-faq-listing">
        <slot name="content">
            {% block sw_cms_block_faq_listing_slot_content %}{% endblock %}
        </slot>
    </div>
{% endblock %}
