{% block faq_search %}
    <div class="faq-search-wrapper">
        <h2 class="faq-headline">{{ 'faq.headline'|trans }}</h2>

        <div class="faq-search-input">
            {% sw_icon 'search' %}
            <input type="text" id="faq-search" placeholder="{{ 'faq.placeholder'|trans }}" class="faq-search form-control" data-search-plugin />
        </div>
    </div>
{% endblock %}